@use "../../../../scss/index" as *;

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;

  & img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: $radius-rounded;
  }
}

.header-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .user-info {
    &__name {
      display: inline-block;
      margin-right: 8px;
      font-size: 13px;
      font-weight: 600;
      color: $main-color;
    }

    & img {
      width: 32px;
      height: 32px;
      border-radius: $radius-rounded;
      object-fit: cover;
      cursor: pointer;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  &-title {
    text-transform: uppercase;
    margin-left: 12px;
    font-size: 13px;
  }
}

.icon-notification {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    width: 4px;
    height: 4px;
    background-color: #ff4560;
    border-radius: $radius-rounded;
  }
}
